body {
	margin: 0;
	font-family: Arial;
	font-size: 12px;
}
.top {
	height: 30px;
	background-color: #333;
	color: white;
}
.top-internal {
	width: 100%;
	max-width: 1040px;
	height: 30px;
	margin: auto;
}
.top-left {
	float: left;
	width: 50%;
	height: 30px;
}
.top-right {
	float: right;
	width: 50%;
	height: 28px;
	margin-top: 2px;
}
.top-left ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.top-left li {
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 8px;
	margin-left: 8px;
}
.top-left li a {
	text-decoration: none;
	color: #FFF;
}
.top-left li .active {
	color: blue;
}
.top-search {
	width: 110px;
	height: 26px;
	outline: 0;
}
.top-right a {
	float: right;
}
.top-right input {
	float: right;
}